<app-navbar></app-navbar>

<div class="container">
  <h1>Alertas</h1>
    <h2>Crear una nueva alerta</h2>
  <form (ngSubmit)="onSubmit()" #triggerForm="ngForm">
    <div class="form-group">
      <label for="inicio" class="bmd-label-floating">Tiempo Inicio</label>
      <input type="number" class="form-control" id="inicio" placeholder="Tiempo Inicio" 
      [(ngModel)]="model.time_period.start.amount" name="inicio" required>
      <label for="fin">Tiempo Fin</label>
      <input type="number" class="form-control" id="fin" placeholder="Tiempo fin" 
      [(ngModel)]="model.time_period.end.amount" name="fin" required>
    </div>
    <div class="form-group">
      <label for="temperatura">Temperatura</label>
      <input type="number" class="form-control" id="temperatura" placeholder="Temperatura"
       [(ngModel)]="model.conditions[0].amount" name="temperatura" required>
    </div>
    <div class="form-group">
      <label for="coordenadas">Coordenadas</label>
      <input type="number" class="form-control" id="lat" placeholder="Latitud" 
      [(ngModel)]="model.area[0].coordinates[0]" name="lat" required>
      <input type="number" class="form-control" id="long" placeholder="Longitud" 
      [(ngModel)]="model.area[0].coordinates[1]" name="long" required>  
    </div>
  
    <button type="submit" class="btn btn-success" [disabled]="!triggerForm.form.valid" (click)="addTrigger(); triggerForm.reset()" >Agregar alerta </button>
  </form>
  <br>
  <h2>Estas son sus alertas: </h2>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fin</th>
            <th scope="col">Temperatura</th>
            <th scope="col">Area (latitud, longitud)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let trigger of triggers">
            <th scope="row">{{triggers.indexOf(trigger)+1}}</th>
            <td>{{trigger.time_period.start.amount/1000}} seg</td>
            <td>{{trigger.time_period.end.amount/1000}} seg</td>
            <td>{{trigger.conditions[0].amount - 273.15 | number : '1.2-2'}} °C</td>
            <td>{{trigger.area[0].coordinates[0]}} ; {{trigger.area[0].coordinates[0]}}</td>
          </tr>
        </tbody>
      </table>
</div>