<h2>Alertas</h2>

<h3>Estas son sus alertas: </h3>

<ul>
    <li>
  
    </li>
  </ul>

<h3>Crear una nueva alerta</h3>

<form action="" method="POST">
  <fieldset>
    <legend>Período de tiempo</legend>
    <p>Inicio</p>
      <label for="start-expression">Expresión:</label>
      <select name="start-expression">
        <option value="exact">Excact</option>
        <option value="after">After</option>
        <option value="before">Before</option>
      </select>
      <br>
      <label for="amount">Cantidad: </label>
      <input type="text" id="amount">
    <p>Fin</p>
      <label for="end-expression">Expresión:</label>
      <select name="end-expression">
        <option value="exact">Excact</option>
        <option value="after">After</option>
        <option value="before">Before</option>
      </select>
      <br>
      <label for="amount">Cantidad: </label>
      <input type="text" id="amount">
  </fieldset>

  <fieldset>
      <legend>Condiciones</legend>
      <label for="conditions-name">Nombre:</label>
      <select name="conditions-name">
          <option value="temp">Temperatura</option>
          <option value="pressure">Presión</option>
          <option value="humidity">Humedad</option>
          <option value="wind_speed">Vel. Viento</option>
          <option value="wind-direction">Dir. Viento</option>
          <option value="clouds">Nubes</option>
        </select>
      <br>
      <label for="expression">Expresión:</label>
      <input type="text" id="expression" placeholder="$gt" readonly>
      <br>
      <label for="amount">Cantidad: </label>
      <input type="text" id="amount">
  </fieldset>
  <br>
  <fieldset>
      <legend>Área</legend>
      <label for="type">Tipo:</label>
      <select name="type">
        <option value="Point">Point</option>
        <option value="MultiPoint">MultiPoint</option>
        <option value="Polygon">Polygon</option>
        <option value="MultiPolygon">MultiPolygon</option>
      </select>
      <br>
      <label for="coordinates">Coordenadas: </label>
      <br>
      <span>
          <input type="text" id="coordinates">
          <input type="text" id="coordinates">
      </span>
  </fieldset>
</form>
