.desc {
    text-transform: capitalize;
}

h2{
    font-family: Merriweather; 
    font-size: 40px;font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; } 
p{
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 15px; 
    font-style: normal;
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; }